body {
    padding: 0 30px;
  
    font-size: 14px;
    line-height: 22px;
    font-family: "Georgia", serif;
    
  }
  
  h1 {
    font-size: 30px;
    line-height: normal;
    
   
  }
  .conteiner{
    width: 1000 px;
margin: 0 auto;
padding: 2rem 6rem;
}